/*body{*/
/*!*background: dimgrey;*!*/
/*color: white;*/
/*font-family: Helvetica, serif;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

header {
    background: darkslategrey;
    padding: 20px;
}

.feature {
    background: cadetblue;
    color: grey;
    padding: 20px;
    display: flex; /*zadziała na dzieci komponentu czyli na div*/
    flex-direction: row;
    flex-wrap: wrap;
}

.feature div {
    /*display: block;*/ /*div ma to usawione automatycznie*/
    /*background: beige;*/
    /*margin: auto;*/
    /*width: 100%; !*każdy div bedzie miał 100px, dzięki flexowi z section*!*/
    /*margin: 1px;*/
    height: 100%;
    /*/*position: fixed;S*/

    margin: auto;
    /*padding: 5px;*/
    text-align: center;
    text-transform: uppercase;
    width: 550px;
}

#clock{
    padding: 15px;
    color: #293251;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    font-size: 4.2em;
}

#air {
    padding: 15px;
    color: #293251;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
    font-size: 1.2em;
}

footer {
    background: teal;
    padding: 10px;
}

* {
    font-family: "AlegreyaSans";
    font-weight: bold;
}

body {
    background-color: #293251;
}

.container {
    width: 300px;
    background-color: #FFF;

    /*display: block;*/
    /*margin: 0 auto;*/

    border-radius: 10px;
    padding-bottom: 50px;
}

.app-title {
    width: 300px;
    height: 30px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    border-top: 3px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
}

display: none

;

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon {
    width: 300px;
    height: 128px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

weather-container {
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.temperature-value {
    width: 300px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{

}

.temperature-value span {
    color: #293251;
    font-size: 0.5em;
}

.temperature-description {

}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location {

}

.location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

.apartment-container {
    width: 300px;
    height: 270px;
    background-color: red;
}

.percent {
    /*min-height: 200px;*/
    padding-top: 45px;
    padding-bottom: 45px;
    margin: 0;
    color: lightgoldenrodyellow;
    text-align: center;
    font-size: 7.2em;
}

/*.percent p {*/
    /*padding-top: 45px;*/
    /*padding-bottom: 45px;*/
    /*margin: 0;*/
    /*color: lightgoldenrodyellow;*/
    /*text-align: center;*/
    /*font-size: 7.2em;*/
/*}*/

.air-container {

    padding-bottom: 50px;
}

.air-measurements p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}
.air-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.air-app-title p {
    margin-top: 0px;
    padding-bottom: 0px;

    border-top: 3px;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #green;
}