body{
    background: dimgrey;
    color: white;
    font-family: Helvetica, serif;
    margin: 0;
    padding: 0;
}

header{
    background: darkslategrey;
    padding: 20px;
}

.feature {
    background: cadetblue;
    color: grey;
    padding: 20px;
    display: flex; /*zadziała na dzieci komponentu czyli na div*/
    flex-direction: row;
    flex-wrap: wrap;
}

.feature div{
    /*display: block;*/ /*div ma to usawione automatycznie*/
    background: beige;
    /*margin: auto;*/
    /*width: 100%; !*każdy div bedzie miał 100px, dzięki flexowi z section*!*/
    /*margin: 1px;*/
    /*height: 100%;*/
    /*!*position: fixed;S*!*/

    margin: auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 550px;


}

footer{
    background: teal;
    padding: 10px;
}